.card {
  border: 1.5px solid #ff6b00;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}
.card > div > div > input {
  width: 90%;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 140px;
  margin: auto;
  justify-content: space-around;
}
.editButton {
  background-color: rgb(33, 177, 255);
  border: none;
  cursor: pointer;
  padding: 9px;
  border-radius: 10px;
  font-size: 1rem;
}
.editButton:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease;
}
.deleteButton {
  background-color: red;
  border: none;
  cursor: pointer;
  padding: 9px;
  border-radius: 10px;
  font-size: 1rem;
}
.deleteButton:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}
.courseImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.modalActions {
  display: flex;
  justify-content: space-between;
  width: 48%;
  margin: auto;
  margin-top: 10px;
}
.confirmButton {
  background-color: green;
  border: none;
  cursor: pointer;
  padding: 9px;
  border-radius: 10px;
  font-size: 1rem;
}
.cancelButton {
  background-color: red;
  border: none;
  cursor: pointer;
  padding: 9px;
  border-radius: 10px;
  font-size: 1rem;
}
