/* Basic styling for About page */
.aboutContainer {
  background-color: #232222;
  color: white;
  padding: 2vw;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 80px);
}

.aboutHeader {
  margin-top: 2rem;
  color: #ff6b00;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.aboutDescription {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  max-width: 90%;
  opacity: 0.8;
  margin-bottom: 3rem;
}

.courseHeader {
  color: #ff6b00;
  text-align: center;
  text-decoration: underline;
  font-size: 2.2rem;
  margin: 2rem 0;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.courseSummary {
  border-radius: 15px;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 2rem;
}

.courseSummary p {
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1.8;
  opacity: 0.8;
}
.imageContainer {
  width: 80%;
  margin: 0 auto;
}
.image {
  width: 100%;
  max-height: 300px;
  min-height: 300px;
  object-fit: cover;
  border-radius: 15px;
  margin: 10px 0;
  border: 1px solid #ff6b00;
}

@media (max-width: 768px) {
  .aboutContainer {
    padding: 1rem;
  }

  .aboutHeader {
    font-size: 2rem;
    margin-top: 1.5rem;
  }

  .courseHeader {
    font-size: 1.8rem;
  }

  .aboutDescription {
    font-size: 1.1rem;
  }

  .courseSummary p {
    font-size: 1rem;
  }

  .image {
    max-height: 300px;
  }
}
