.footer {
  background-color: #333;
  color: white;
  margin-top: 1vh;
  padding: 15px 0;
  width: 100%;
}

.footerLinks ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footerLink {
  color: white;
  text-decoration: none;
}

.footerContact {
  text-align: center;
}

.footerContact p {
  margin: 5px 0;
}
