.imageSection {
  background-color: #f4f4f4;
  text-align: center;
}

.wrapper {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.section {
  padding: 1% 0;
  text-align: center;
}

.packages,
.courses {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 85%;
}

.packages h2,
.courses h2 {
  font-size: 2.5rem;
  margin-bottom: 4%;
}

/* .packages,
.courses {
  display: flex;
  justify-content: space-around;
  gap: 20px;
} */
.packages,
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Responsive grid */
  gap: 20px;
  justify-content: center;
  margin: auto;
}
/* 
.package,
.course {
  background-color: #e8e8e8;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
} */
.package,
.course {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    45deg,
    #e50914,
    rgb(0, 0, 0),
    #e50914,
    black
  ); /* Dynamic gradient */
  background-size: 400% 400%;
  animation: gradientAnimation 3.5s ease infinite; /* Animated gradient */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.package:hover,
.course:hover {
  transform: translateY(-10px); /* Lift the card */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5); /* Intense shadow */
}
/* .package h3,
.course h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
} */
.package h3,
.course h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.package p,
.course p {
  font-size: 1rem;
  margin-bottom: 10px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.bookButton {
  background-color: #e50914; /* Netflix Red */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease;
  bottom: 20px;
  left: 50%;
  margin-top: auto;
}
.bookButton:hover {
  background-color: #b81d21; /* Darker red on hover */
  transform: scale(1.1); /* Button enlarges */
}
.coursesHeader {
  font-weight: bold;
  transition: all 0.3s ease;
}
.courseImage {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.courseImage:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 720px) {
  .packages,
  .courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .package,
  .course {
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
  }
}
.moreCoursesContainer {
  display: flex;
  justify-content: center;
}
.moreCourses {
  margin-top: 10px;
  font-size: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
}
