/* Navbar container */
.navbarContainer {
  /* display: inline-block; */
  background-color: #333;
  color: white;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  width: 100%;
}

/* Main navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: padding 0.3s ease;
  width: 100%;
}

/* Logo/Home link */
.logo {
  height: 12vh;
  padding: 5px;
  transition: transform 0.3s ease;
}

.navbarLogo:hover {
  color: #d1d1d1;
  /* Light gray on hover */
}

/* Links container */
.navbarLinks {
  list-style: none;
  display: flex;
  padding-inline: 15px;
  gap: 20px;
}

/* Individual links */
.navbarLink {
  text-align: center;
  margin: auto;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbarLink:hover {
  color: #d1d1d1;
  /* Light gray on hover */
}

/* Button styles */
.navbarButton {
  padding: 8px 20px;
  text-decoration: none;
  margin: auto;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Signup button specific styles */
.signup {
  background-color: #3b82f6;
  /* Blue */
  color: white;
}

.signup:hover {
  background-color: #2563eb;
  /* Darker blue on hover */
}

/* Logout button specific styles */
.logout {
  background-color: #ef4444;
  /* Red */
  color: white;
}

.logout:hover {
  background-color: #dc2626;
  /* Darker red on hover */
}

/* styles/navbarStyles.module.css */

/* קלאס עבור הכפתור עם התאריך */
.dateButton {
  background: none;
  border: none;
  font-size: 14px;
  /* גודל טקסט נוח */
  color: #fff;
  /* צבע טקסט לבן */
  cursor: pointer;
  text-align: center;
  padding: 8px 15px;
  /* ריווח נעים סביב הטקסט */
  margin: 0 15px;
  font-weight: bold;
  transition: background 0.3s ease;
  /* אפקט שינוי צבע בעת ריחוף */
  display: inline-block;
}

.dateButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  /* צבע רקע עדין בעת ריחוף */
}

/* עיצוב של התאריך והזמן */
.dateButton span {
  display: block;
  font-size: 12px;
  /* גודל טקסט קטן לתאריך */
  margin-bottom: 5px;
  font-weight: normal;
}

.dateButton .opening-hours {
  font-size: 12px;
  /* גודל טקסט קטן לשעות הפתיחה */
  font-weight: normal;
  margin-top: 5px;
  color: #ddd;
  /* צבע טקסט בהיר יותר לשעות הפתיחה */
}

.dateButton .hours {
  color: #ffcc00;
  /* צבע בהיר לשעות הפתיחה */
  font-weight: bold;
}